.newlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.newlist h1 {
  font-size: 2.5em;
  line-height: 1.1;
  text-align: center;
}

.newlist .NewListBtn {
  margin-top: 3rem;
}